<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="menu.css">
    <link rel="stylesheet" href="hp.css">
</head>
<body>
    <div class="header">
        <div class="s1"><h1 class=font1>What's Up:</h1></div>
        <div class="s2"><h1 class=font2>Live chat software</h1></div>
        <div class="topnav">
            <a href="#search">Search</a>
            <a href="#about">Logout</a>
        </div>
    </div>
    <div class="footer">
    </div>
</body>
</html>