{% extends 'chat/nav.html' %}
{% block content %}
    <div class="center1">
        <h1 style="color: #8c759f">Create new room</h1></h1>
        <form action="{% url 'create_new_room' %}" method="post">{% csrf_token %}
          <div class="txt_field">
            <input type="text" name="room_name" required>
            <span></span>
            <label>Enter room name</label>
            <!--Show error message if room already exists -->
            {% if messages %}
              {% for message in messages %}
                <span style="color: red;"><small>{{message}}</small></span><br>
              {% endfor %}
            {% endif %}
          </div>
          
          <div class="txt_field">
            <input type="password" name="passward_room" required>
            <span></span>
            <label>Enter room password </label>
            <span></span>
          </div>
            <input type="submit" name="create" value="Create" style="width: 45%;">
            <a href="myRoom" class="button cencelbtn" style="text-decoration:none;color: aliceblue;">Cancel</a>
            <p></p>
        </form>
        

      </div>

      <div class="footer"></div>
      {% endblock %}